.Posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: 30px;
}
.Post {
    width: 600px;
    padding: 16px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    margin: 10px;
    box-sizing: border-box;
}

.Post:hover,
.Post:active {
    background-color: #eee;
}

.Author {
    margin: 16px 0;
    color: #ccc;
}